/* src/index.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  height: 100vh;
  background-color: #f0efef;
  font-family: 'Poppins', sans-serif;
  -ms-overflow-style: none;
  /*hiding scroll bar*/
  box-sizing: border-box;
}

#root {
  height: 100%;
}

main {
  height: 100%;
  width: 100%;
}

p{
  margin: 0;
}

.nav-div {
  width: 20%;
  position: fixed;
  height: 100vh;
  display: flex;
  background-color: #151557;
}

.activa {
  background-color: #ffffff4a;
  color: white;
}

.main-div {
  position: relative;
  left: 19%;
  width: 80%;
  height: 100%;
  margin: 1rem;
}

body::-webkit-scrollbar {
  display: none;
  /*hiding scroll bar*/
}

form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  width: 260px;
  /* border: 1px solid #555; */
  border: none;
  border-radius: 0.5em;
  display: block;
  padding: 9px 4px 9px 40px;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  left: 20%;
  width: 80%;
  position: relative;
}

input.nosubmit:focus {
  outline: none;
  /* Remove the default focus outline (optional) */
  border: none;
  /* Remove the border when focused */
}

.chart-desc{
  position: relative;
  background-color: white;
  padding-left: 5px;
  top: 8px;
  background-color: white;
  border-radius: 0.5em;
}

.graphColumn,
.circ-bg,
.product-main-container {
  background-color: white;
  border-radius: 0.5em;
  padding: 10px 20px;
}

.doughnut-container {
  /* position: relative; */
  /* width: 200px;
  height: 200px; */
}

.center-text {
  text-align: center;
  position: relative;
  bottom: 47%;
  font-size: 18px;
  color: #333;
}

.doughnut-small-text {
  font-size: 10px;
}

.circ-bg {
  height: 100%;
}

.circ-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circ-img {
  max-height: 100%;
  max-width: 120%;
  width: 100%,
}

/* #800080  389700 00008B   fa4c4c*/

.circ-text {
  display: inline;
}

.circ-text-top {
  font-size: 10px;
  color: darkgray;
}

.circ-text-bottom {
  font-size: 12px;
  color: #7d7d7d;
}

.down-arrow {
  color: red;
  width: 14px;
}

.up-arrow {
  width: 14px;
  color: #228b22;
}

.earning-container {
  background-color: aliceblue;
  background: #95ffbe;
  background: linear-gradient(288deg, rgba(149, 255, 190, 1) 0%, rgba(210, 249, 225, 1) 100%);
}

.orders-container {
  background-color: #d8bfd861;
  background: rgb(216, 191, 216);
  background: linear-gradient(62deg, rgba(216, 191, 216, 0.41679318211659666) 0%, rgba(216, 191, 216, 0.8453646106880253) 82%);
}

.balance-container {
  background-color: lavender;
  background: rgb(230, 230, 250);
  background: linear-gradient(62deg, rgba(230, 230, 250, 1) 0%, rgba(214, 214, 255, 1) 100%);
}

.sales-container {
  background-color: antiquewhite;
  background: rgb(255, 231, 200);
  background: linear-gradient(288deg, rgba(255, 231, 200, 1) 0%, rgba(250, 235, 215, 1) 100%);
}

.product-img {
  width: 40px
}

.product-title,
.product-subtitle {
  display: inline-block;
  margin: 0;
}

/* 228b22 */
/* 
aliceblue
#d8bfd845
lavender
antiquewhite
 */

.product-img-container {
  display: flex;
}

.product-img-container>img {
  width: 100%;
  border-radius: 0.8em;
  margin: 10px 0px
}

.product-headings {
  font-size: 12px;
  color: #7d7d7d;
}

.product-subtitle {
  font-size: 12px;
  color: #7d7d7d;
}

.product-main-container {
  margin: 0;
  top: -20px;
  position: relative;
}

.product-main-container input.nosubmit {
  padding: 0px 4px 0px 40px;
}

.dropdown-toggle {
  font-size: 0.9em;
  color: gray;
  padding: 0px 12px;
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
}

b {
  color: #228b22;
}

.product-mobile-view {
  display: none;
}

.product-img-mob {
  width: 100%;
  border-radius: 0.8em;
  margin: 10px 0px;
}

.product-column-mob {
  background-color: white;
  border-radius: 0.5em;
}

.product-column-mob p {
  margin: 0;
}

.product-details-mob {
  font-size: 0.9rem;
}

.nav-mob {
  height: 60px;
  width: 100%;
  display: none;
}

.nav-mob-container {
  background-color: #151557;
  padding-bottom: 10px;
  /* border-bottom-right-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
}

.nav-mob {
  background-color: #151557;
}

.navbar-toggler {
  color: #151557;
}

/* sm */
@media (max-width: 576px) {
  .product-name {
    font-size: 0.9rem;
  }

  .product-img-mob {
    width: 120%;
    min-height: 70px;
  }

  .product-details-mob {
    font-size: 0.7rem;
  }
  
  .doughnut-small-text {
    display: flex;
  }
}

/* md */
@media (max-width: 768px) {
  .product-main-container {
    display: none;
  }

  .product-mobile-view {
    display: contents;
  }

  .doughnut-small-text {
    display: none;
  }
}

/* lg */
@media (max-width: 992px) {
  .nav-div {
    display: none;
  }

  .nav-mob {
    display: block;
    z-index: 10000;
    left: 0;
    position: fixed;
    top: 0;
  }

  .main-div {
    left: 0;
    width: 100%;
    margin: 0.5rem 0.2rem;
    padding: 0;
    top: 65px
  }

  .circ-bg {
    padding: 0 0 0 15px;
  }

  .center-text {
    font-size: 14px;
  }

  .doughnut-small-text {
    font-size: 9px;
  }
}

/* xl */
@media (max-width: 1200px) {
  .center-text {
    font-size: 14px;
  }

}

/* xxl */
/* @media (min-width: 1400px) { ... } */